<%= form_for(@week) do |f| %>
  <% if @week.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@week.errors.count, "error") %>
        prohibited this week from being saved:</h2>

      <ul>
      <% @week.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag :set, params[:set] %>
  <% if params[:set] == 'solution' %>
    <%= f.fields_for :solution do |b| %>
      <div class="form-group">
        <%= b.label :numbers %>
        <%= b.text_field :numbers, value: @week.solution &&
          @week.solution["numbers"].join(","),
          class: "form-control numbers-selector" %>
        <p class="help-block">5 numbers from 1 to 50, inclusive.</p>
      </div>
      <div class="form-group">
        <%= b.label :stars %>
        <%= b.text_field :stars, value: @week.solution &&
          @week.solution["stars"].join(","),
          class: "form-control stars-selector" %>
        <p class="help-block">2 numbers from 1 to 11, inclusive.</p>
      </div>
    <% end %>
  <% elsif params[:set] == 'prize' %>
    <div class="form-group">
      <%= f.label :prize %>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
        <%= f.text_field :prize, class: 'form-control' %>
      </div>
    </div>
  <% end %>
  <div class="action">
    <%= f.submit "Update", class: "btn btn-success" %>
  </div>
<% end %>
