<h1>Listing Weeks</h1>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Number</th>
      <th>Friday</th>
      <th>Solution</th>
      <th>Bets</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @weeks.each do |week| %>
      <tr>
        <td><%= week.number %></td>
        <td><%= week.friday %></td>
        <td><%= week.solution %></td>
        <td><%= week.bets.size %>
          (<%= week.bets_missing %> missing)</td>
        <td>
          <%= link_to 'Show', week %>
          <%= link_to 'Destroy', week, method: :delete,
            data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

