<h1>Week by week</h1>
<%= paginate @weeks, theme: 'twitter-bootstrap-3',
  pagination_class:  "pagination-sm" %>
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Number</th>
      <th>Friday</th>
      <th>Solution</th>
      <th>Bets</th>
      <th>Your bet</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @weeks.each do |week| %>
      <tr class="<%= if week == current_week then "success" end %>">
        <td><%= week.number %></td>
        <td><%= week.friday %></td>
        <td><%= print_bet week.solution %></td>
        <td><%= week.bets.size %>
          (<%= week.bets_missing %> missing)
        </td>
        <td><%= formatted_bet(week.bet_from(current_user), week.solution) %>
        <td>
          <%= link_to 'Show', week %>
          <% if current_user.is_admin? %>
            |
            <%= link_to 'Add solution', edit_week_path(week,
              update_type: 'solution') %>
            |
            <%= link_to 'Set prize', edit_week_path(week,
              update_type: 'prize') %>
            <% if week == current_week %>
              |
              <%= link_to 'Request bets', request_bets_week_path(week),
                remote: true %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @weeks, theme: 'twitter-bootstrap-3',
  pagination_class:  "pagination-sm" %>
