<h1>Week by week</h1>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Number</th>
      <th>Friday</th>
      <th>Solution</th>
      <th>Bets</th>
      <th>Your bet</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @weeks.each do |week| %>
      <tr class="<%= if week == current_week then "success" end %>">
        <td><%= week.number %></td>
        <td><%= week.friday %></td>
        <td><%= week.solution %></td>
        <td><%= week.bets.size %>
          (<%= week.bets_missing %> missing)
        </td>
        <td><%= week.bet_from(current_user) %>
        <td>
          <%= link_to 'Show', week %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

