<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @week.number %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @week.friday %>
</p>

<p>
  <strong>Solution:</strong>
  <%= @week.solution %>
</p>

<% if @bets.any? %>
  <h4>Bets for this week</h4>
  <ul>
    <% @bets.each do |bet| %>
      <li><%= bet.user.name %>: <%= bet.print_numbers %> +
        <%= bet.print_stars %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Back', weeks_path %>
