<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @week.number %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @week.friday %>
</p>

<p>
  <strong>Prize:</strong>
  €<%= @week.prize %>
</p>

<p>
  <strong>Solution:</strong>
  <%= @week.print_solution %>
</p>

<% if @bets.any? %>
  <h4>Bets for this week</h4>
  <ul>
    <% @bets.each do |bet| %>
      <li>
        <%= display_user_of bet %>:
        <%= display_bet bet, @week.solution %>
      </li>
    <% end %>
  </ul>

  <% if current_user.is_admin? %>
    <h5>Quick play bets</h5>
    <ul class="quick-play">
      <% @bets.each do |bet| %>
        <li><%= bet.numbers.join(" ") %> + <%= bet.stars.join(" ") %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<%= link_to 'Back', weeks_path %>
