<p>
  <strong>Number:</strong>
  <%= @week.number %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @week.friday %>
</p>

<p>
  <strong>Prize:</strong>
  €<%= @week.prize.presence || 0.0 %>
</p>

<% if @week.prize_details.present? %>
  <p>
    <strong>Prize details:</strong>
    <%= @week.prize_details %>
  </p>
<% end %>

<p>
  <strong>Solution:</strong>
  <%= @week.print_solution %>
</p>

<h4>Bets for this week</h4>
<ul>
  <% @users.each do |user| %>
    <% bet = user.bets.where(week_id: @week.id).first %>
    <li>
      <%= display_user user %>:
      <% if bet %>
        <%= display_bet bet, @week.solution %>
      <% end %>
    </li>
  <% end %>
</ul>
<% if @users.size != @bets.size && current_user.is_admin? %>
  <%= link_to "Fill bets", fill_bets_week_path(@week), method: :post %>
<% end %>

<% if current_user.is_admin? %>
  <h5>Quick play bets</h5>
  <ul class="quick-play">
    <% @bets.each do |bet| %>
      <li><%= bet.numbers.join(" ") %> + <%= bet.stars.join(" ") %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Back', weeks_path %>
<% if current_user.is_admin? %>
  |
  <%= link_to 'Add solution', edit_week_path(@week,
    update_type: 'solution') %>
  |
  <%= link_to 'Set prize', edit_week_path(@week,
    update_type: 'prize') %>
  <% if @week == current_week %>
     |
    <%= link_to 'Request bets', request_bets_week_path(@week),
    remote: true %>
  <% end %>
<% end %>
