<p>
  <strong>Number:</strong>
  <%= @week.number %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @week.friday %>
</p>

<p>
  <strong>Prize:</strong>
  €<%= @week.prize.presence || 0.0 %>
</p>

<% if @week.prize_details.present? %>
  <p>
    <strong>Prize details:</strong>
    <%= simple_format @week.prize_details %>
  </p>
<% end %>

<% if @week.weeks_bet.present? %>
  <p>
    <strong>Bet proof:</strong>
    <%= link_to image_tag(@week.weeks_bet.url(:thumb)), @week.weeks_bet.url %>
  </p>
<% end %>

<p>
  <strong>Solution:</strong>
  <%= print_bet @week.solution %>
</p>
<% if @week.friday < Date.parse('11/06/2017') %>
  <h4>Bets for this week</h4>
  <ul>
    <% @users.each do |user| %>
      <% bet = user.bets.where(week_id: @week.id).first %>
      <li>
        <%= display_user user %>:
        <% if bet %>
          <%= formatted_bet bet, @week.solution %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <% if @users.size != @bets.size && current_user.is_admin? %>
    <%= link_to "Fill bets", fill_bets_week_path(@week), method: :post %>
  <% end %>
<% end %>

<% if current_user.is_admin? && @week.friday < Date.parse('11/06/2017') %>
  <h5>Quick play bets</h5>
  <ul class="quick-play">
    <% @bets.each do |bet| %>
      <li><%= print_bet bet.bet, "" %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Back', weeks_path %>
<% if current_user.is_admin? %>
  |
  <%= link_to 'Bet made', edit_week_path(@week,
    update_type: 'bet') %>
  |
  <%= link_to 'Add solution', edit_week_path(@week,
    update_type: 'solution') %>
  |
  <%= link_to 'Set prize', edit_week_path(@week,
    update_type: 'prize') %>
  <% if @week == current_week %>
     |
    <%= link_to 'Request bets', request_bets_week_path(@week),
    remote: true %>
  <% end %>
<% end %>
