<h1>We won! <strong>€<%= @week.prize %></strong></h1>
<p>
  This week's solution was: <%= print_bet @week.solution %>.<br>
  Our bets were:
  <ul>
    <% @week.sorted_bets.each do |bet| %>
      <li>
        <%= bet.user.name %>:
        <%= formatted_bet bet, @week.solution %>
      </li>
    <% end %>
  </ul>
</p>
<p>
  More details at <%= link_to "our amazing website", week_url(@week) %>
</p>
<p>Congratulations!</p>
<p>
  -- <em><%= @quote %></em>
</p>
