<%= form_for(@bet) do |f| %>
  <% if @bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
      <% @bet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :week_id %>
  <%= f.fields_for :bet do |b| %>
    <div class="form-group">
      <%= b.label :numbers %>
      <%= b.text_field :numbers, value: @bet.numbers.join(","), class: "form-control" %>
      <p class="help-block">5 numbers from 1 to 50, inclusive.</p>
    </div>
    <div class="form-group">
      <%= b.label :stars %>
      <%= b.text_field :stars, value: @bet.stars.join(","), class: "form-control" %>
      <p class="help-block">2 numbers from 1 to 11, inclusive.</p>
    </div>
  <% end %>
  <div class="action">
    <%= f.submit "Bet!", class: "btn btn-success" %>
  </div>
<% end %>
