<%= form_for(@bet) do |f| %>
  <% if @bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
      <% @bet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :week_id %>
  <div class="row">
    <div class="col-md-2">
      <input type="number" class="form-control" placeholder="1-50" min="1" max="50">
    </div>
    <div class="col-md-2">
      <input type="number" class="form-control" placeholder="1-50" min="1" max="50">
    </div>
    <div class="col-md-2">
      <input type="number" class="form-control" placeholder="1-50" min="1" max="50">
    </div>
    <div class="col-md-2">
      <input type="number" class="form-control" placeholder="1-50" min="1" max="50">
    </div>
    <div class="col-md-2">
      <input type="number" class="form-control" placeholder="1-50" min="1" max="50">
    </div>
    <div class="col-md-1">
      <input type="number" class="form-control" placeholder="1-11" min="1" max="11">
    </div>
    <div class="col-md-1">
      <input type="number" class="form-control" placeholder="1-11" min="1" max="11">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.submit "Bet!", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
