<%= form_for(@bet) do |f| %>
  <% if @bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
      <% @bet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :week_id %>
  <%= f.fields_for :bet do |b| %>
    <div class="form-group">
      <%= b.label :numbers %>
      <%= b.select :numbers, options_for_select((1..50).to_a),
        {}, { multiple: true, class: "form-control" }%>
    </div>
    <div class="form-group">
      <%= b.label :stars %>
      <%= b.select :stars, options_for_select((1..11).to_a),
        {}, { multiple: true, class: "form-control" }%>
    </div>
  <% end %>
  <div class="action">
    <%= f.submit "Bet!", class: "btn btn-success" %>
  </div>
<% end %>
