<p id="notice"><%= notice %></p>

<h1>Listing Bets</h1>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Bet</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bets.each do |bet| %>
      <tr>
        <td><%= display_bet bet, bet.week.try(:solution) %></td>
        <td><%= bet.user.try(:name) %></td>
        <td>
          <%= link_to 'Show', bet %>
          <% if bet.week == current_week %>
            |
            <%= link_to 'Edit', new_bet_path %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bet', new_bet_path %>
