<p id="notice"><%= notice %></p>

<p>
  <strong>Week:</strong> <%= link_to @bet.week.try(:number), @bet.week %>
</p>
<p>
  <strong>Bet:</strong>
  <%= @bet.print_numbers %> + <%= @bet.print_stars %>
</p>

<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', bets_path %>
