<h1>Users</h1>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <% if current_user.is_admin? %>
        <th>Balance</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= mail_to user.email %></td>
        <% if current_user.is_admin? %>
          <td class="<%= user.balance >= 0.0 ? "success" : "danger" %>">
            <%= balance(user.balance) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.is_admin? %>
  <%= link_to "Add user", new_user_path %>
<% end %>
