<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @payment.value %>
</p>

<p>
  <strong>User:</strong>
  <%= @payment.user_id %>
</p>

<p>
  <strong>Details:</strong>
  <%= @payment.details %>
</p>

<p>
  <strong>Date:</strong>
  <%= @payment.date %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
