<p id="notice"><%= notice %></p>

<h1>Listing Transactions</h1>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Value</th>
      <th>User</th>
      <th>Details</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.value %></td>
        <td><%= transaction.user.try(:name) %></td>
        <td><%= transaction.details %></td>
        <td><%= transaction.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.is_admin? %>
  <%= link_to 'New Transaction', new_transaction_path %>
<% end %>
